fetch-timeout=300000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
registry=https://registry.npmjs.org/
prefer-frozen-lockfile=false
strict-peer-dependencies=false
auto-install-peers=true
